/* 
    Created on : 22/04/2015, 19:50:07
    Author     : Joabe

body: #E8E8E8
gelo: #EEE


Laranja primario: #D89D33
Laranja hover: #B17C2B
-
Rosa primario: #C270AD
Rosa hover: #93488C
-
Azul primario: #2D84C6
Azul hover: #1C6693

*/

/*CLASSES GERAIS*/
.cursor_default { cursor: default; }
.no-padding {padding: 0;}
.no-margin {margin: 0;}
.with-border {border: 1px solid;}
.clear {clear:both}
.float-right {float: right}

/*Clases específicas (mobile first)*/
.coluna-voltar {
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    width: 60px;
    height: 60px;
    left: -30px;
    top: -30px;
}
.coluna-voltar i{
    padding: 48% 42%;
}

.layout-logo-principal {text-align: center}
.layout-logo-principal img {max-width: 100%}
.layout-icone-logar{ margin-top: 11% }
